* {
	padding: 0; margin: 0;
}
body {
	background-color: #333;
}
h1 {
	color: #ffd;
	font-family: Helvetica;
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 4px;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
p {
	color: #ecf0f1;
	font-family: Helvetica;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 16px;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}
a:hover {
	color: #ffc;
	border-bottom:
	1px solid rgba(255,255,255,1);
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
#monogram {
	width: 50px;
	padding: 50px 0 0 0;
	margin: 0 auto 0 50px;
}
#about {
	width: 360px;
	padding: 0 0 0 150px;
	margin: -35px 50px 0 auto !important;
}
@media (max-width: 767px) {
	#monogram {
		position: relative;
		width: auto;
		padding: 20px;
		margin: 0;
	}
	#about {
		position: relative;
		width: auto;
		padding: 20px;
		margin: 0 !important;
	}
	background-image {
		opacity: 0.7;
	}
}
